.topBrand {
    
    padding: 30px 80px;
    background-color: #fff;
    
 
 
     div {
         // margin-left: 100px;
         // padding: 0 30px;
 
 
     h1 {
         font-weight: 500;
         color: #343434;
     }
 
     div {
         display: flex;
         gap: 40px;
         margin-top: 10px;
         
 
 
         div {
             display: flex;
             flex-direction: column;
             gap: 15px;
             // align-items: center;
             width: 150px;
             text-align: center;
 
             div {
                 width: 150px;
                 height: 150px;
                 border-radius: 50%;
                 overflow: hidden;
                 box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.75);
 
                 img {
                     width: 100%;
                 }
             }
 
             h3 {
                 color: #343434;
                 font-weight: 500;
                 font-size: .8rem;
             }

             p {
                font-size: .8rem;
                color: grey;
             }
 
 
         }
     }
 
 }
 }