.location {
    padding: 0 80px;
    margin-top: 20px;
    span {
        font-size: 0.75rem;
        color: rgb(123, 123, 123);
    }
    .restorant {
        margin-left: 10px;
        color: rgb(181, 181, 181);

    }
}