.filterPage {
    width: 100%;
    height: 100%;
    position: relative;
    
    .top {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(217, 214, 214);
        padding: 20px;
        h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .closeBtn {
            cursor: pointer;
        }
    }

    .middle {
        width: 100%;
        height: calc(100vh - 150px);
        border-bottom: 1px solid rgb(217, 214, 214);
        display: flex;

        .sidebar {
            width: 30%;
            height: 100%;
            background-color: #F8F8F8;
            ul {
                list-style: none;
            }
            li {
                padding: 20px 20px;
                height: 64px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                .soretdName {
                    color: rgb(205, 75, 75);
                    font-size: .8rem;
                    font-weight: 400;
                }
            }

           
    
            .activeLink {
                border-left: 3px solid rgb(219, 112, 112);
                background-color: #fff;
            }
        }

        .feed {
            padding: 20px;
            overflow: hidden;
            height: 100%;
            width: 100%;

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                div {
                    display: flex;
                    gap: 10px;
                    
                   .radio {
                    width: 18px;
                    color: rgb(219, 112, 112) !important;
                    cursor: pointer;
                   }

                    .lable {
                        color: rgb(41, 41, 41);
                        font-weight: 300;
                        cursor: pointer;
                    }
                }
            }

            .counrty {

                .search {
                    width: 100%;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border: 1.5px solid rgb(70, 70, 70);
                    border-radius: 5px;
                    padding: 0 10px;
                    color: #9b9999;

                    input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        font-size: 1.2rem;
                        font-weight: 200;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .counrtyName {
                    height: 100%;
                    overflow-y: scroll;
                    margin-top: 30px;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        li {
                            display: flex;
                            gap: 10px;
                            input {
                                width: 18px;
                            }
                        }
                    }
                }
            }

            .ratings {
                .showRating {
                    span {
                        color: #9b9999;
                        font-size: .8rem;
                        font-weight: 300;
                    }

                    h4 {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
                .selectRataing{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    div  {
                            
                            display: flex;
                            
                            gap: 4px;
                            div {
                                display: flex;
                                flex-direction: column;
                               
                                .left {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 4px;
                                    .dot {
                                        width: 10px;
                                        height: 10px;
                                        border-radius: 50%;
                                        background-color: grey;
                                    }
        
                                    span {
                                        margin-left: -20px;
                                    }
                                }
        
                                .bar {
        
                                    width: 80px;
                                    height: 4px;
                                   
                                    background-color: grey;
        
                                }
                            }
                        }
                    
                }

            }
        }
    }



    .bottom {
        width: 100%;
        height: 80px;
        padding: 18px;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
       
        div {
            display: flex;
            gap: 20px;
            

            button {
                width: 100px;
                border: none;
                padding: 12px;
                border-radius: 7px;
                font-size: 1rem;
                color: grey;
                background-color: #FCFCFC;
                cursor: pointer;
                &:hover {
                    background-color: #f0f0f0;
                }
            }

            :last-child {
                color: #FFF;
                background-color: rgb(200, 102, 102);
                &:hover {
                    background-color: rgb(185, 86, 86);
                }
            }
        }

    }
}