.dropDownContainer {
    width: 100%;
    ul {
        li {
            display: flex;
            gap: 20px;
            padding: 20px;
            .img {
                width: 90px;
                height: 75px;
                border-radius: 10px;
                overflow: hidden;
                object-fit: contain;

            }

            .details {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                h4{
                    color: rgb(77, 75, 75);
                    font-weight: 500;
                }

                .ratings {
                    display: flex;
                    gap: 30px;

                    div {
                        display: flex;
                        gap: 10px;

                        span {
                            background-color: rgb(63, 150, 63);
                            padding: 0 2px;
                            font-size: .7rem;
                            font-weight: 600;
                            color: #fff;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        p {
                            text-transform: uppercase;
                            color: grey;
                            font-size: .8rem;
                        }
                    }
                }

                p {
                    color: grey;
                    font-size: .8rem;
                }

                .buttons {
                    display: flex;
                    justify-content: space-between;
                    button {
                        background-color: transparent;
                        border: none;
                        align-items: center;
                        display: flex;
                        color: rgb(220, 114, 114);
                        cursor: pointer;

                       
                       
                    }
                }

                p {
                    font-size: .7rem;
                }
            }
        }
    }
}