.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 80px;
 background-color: #fff;
 z-index: 10;
 position: sticky;
 top: 0;

 @media screen and (max-width: 560px) {
    .navbar {
        padding: 10px 20px;
    }
 }


 .navLeft {
    display: flex;
    align-items: center;

    .navLog {
        margin-right: 30px;
        img {
           width: 130px;
           height: 30px;
     }

    }

    .search {
        padding: 10px;
        width: 700px;
        height: 50px;
        -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.26);
        -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.26);
        box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.40);
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
 }

 .navRight {
   
    .navBtn {
        border: none;
        background-color: #fff;
        font-size: 1rem;
        color: rgb(123, 123, 123);
        font-weight: 500;
        cursor: pointer;
        
    }

    .login, .signup {
        margin-right: 20px;
        letter-spacing: .6px;
    }
 }
 
 

}